@charset "Shift_JIS";
/* #f3f2eb ベースカラー */
/* #d41e17 赤           */
/* #ff8c8c ピンク       */
/* #7dbeff サックス     */
/* #444444 テキストカラー */
/* #8a8a7b リンクカラー   */
.gmap {
  background-color: #f7f7f7;
  height: 400px;
}
