@charset "Shift_JIS";
@import "compass";       // compass framework
@import "valiables";     // 定数・変数管理
@import "media_queries"; // 定数・変数管理
@import "mixin";         // @mixin / %placeholder管理

/********************************************************************************************

base settings

********************************************************************************************/
html{
    font-size: 62.5%;
}
body{
    width:100%;
    min-width:100%;
    font-family: $font;
    @include font-size(14);
    line-height: 1.5;
    letter-spacing: 0.07em;
    color: $text;
    @include mq_mobile( 'portrait', 'future' ){
        font-family: $font;
    }
    @include mq_mobile( 'landscape', 'future' ){
        font-family: $font;
    }
}
a{
    &:link{
        color: inherit;
    }
    &:visited{
        color: inherit;
    }
    &:hover{
        color: inherit;
        text-decoration:none;
    }
}
i{
    font-style: normal;
}
img{
    @include mq_mobile( 'portrait', 'future' ){
        max-width: 100%;
    }
    @include mq_mobile( 'landscape', 'future' ){
        max-width: 100%;
    }
}
/* フッター固定必須CSS
-----------------------------------------------------------*/
$SITE_WRAP_ELLEMENT     : '#wrap';
$SITE_CONTENTS_ELLEMENT : '#contentsWrap';
$SITE_FOOTER_ELLEMENT   : '#siteFtrWrap';

// footerの (pTop, height, pBottom)
@include footer-fix(0, auto, 0);


#pageloader{
    display: table;
    background: #fff;
    min-width: 100%;
    min-height: 100%;
    vertical-align: middle;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000000000;
}

/********************************************************************************************

header

********************************************************************************************/
.siteHdrWrap{
    background: #fff;
}
.siteHdr{
    display: table;
    padding: 15px 0;
    > *{
        display: table-cell;
        vertical-align: middle;
    }
}
/********************************************************************************************

gnav

********************************************************************************************/


/********************************************************************************************

contents

********************************************************************************************/
.contents{
}

/* パンくず
-----------------------------------------------------------*/
.breadcrumbs {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.breadcrumbs ul{
    @include font-size(11);

    &:before{
        /*content: url(../img/icon_home.png);*/
    }
    & li{
        display: inline-block;

        &:before{
            content: '\3e';
            display: inline-block;
            margin-right: 8px;
        }
        &:first-child:before{
            content: '';
            display: none;
        }
    }
}

/* ページタイトル
-----------------------------------------------------------*/
.pageTitle{
}

/* サブタイトル
-----------------------------------------------------------*/
.subTitle{
}

/********************************************************************************************

footer

********************************************************************************************/
#siteFtrWrap
/* topへ戻る
-----------------------------------------------------------*/
.siteFtrWrap__backtop{
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 100;
    margin-left: -( $siteWidth / 2 );
    a{
        display: block;
        position: absolute;
    }
}

/* サイトマップ
-----------------------------------------------------------*/

/* フッター
-----------------------------------------------------------*/
.copyright{
}



/********************************************************************************************

api / plug-in

********************************************************************************************/
/* google map infoWindow
-----------------------------------------------------------*/
.gmapOpen_InfoWindow{
    min-height: 95px;
    padding: 10px;
}
.gmapOpen_shopName{
    margin-bottom: 7px;
    font-size: 133.3%;
}
.gmapOpen_shopAddress{
    display: block;
    margin-bottom: 3px;
}
.gmapOpen_shopUrl{
    margin-top: 15px;
}
/* scroll bar customize
-----------------------------------------------------------*/
/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */
.jspContainer{
    overflow: hidden;
    position: relative;
}
.scroll-pane:focus,
.jspScrollable:focus{
    outline: none;
}
.jspPane{
    position: absolute;
    left: 0 !important;
}
.jspVerticalBar{
    width: 12px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.jspTrack{
    background: #fff; // bg_drag
    position: relative;
}
.jspDrag{
    background: red; // drag
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}